<!-- <h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p> -->

<h1>All the posts</h1>

<% @posts.each do |post| %>

  <p>
    Title: <%= button_to "Click to see more about: #{post.title}", post, method: :get %>
  </p>
  <p>
    Content: <%= post.content %>
  </p>

<% end %>
